.form {
  width: 60%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form input,
.form select,
.form textarea,
.form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.diagram option {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}
.diagram option[value="none"] {
  color: blue;
}
